$radius: 60px;
$labelSize: 40px;

$greyColor: #b4b4b4;

$violetGradient: linear-gradient(0deg, #7416f4 0%, #570673 19%, #9310b5 46%, #db57f7 100%);
$greenGradient: linear-gradient(0deg, #60ff00 1%, #1d9b00 32%, #a2ff00 77%, #ecffcc 100%);
$blueGradient: linear-gradient(0deg, #022555 0%, #000f24 100%);
