@import "mixins";
@import "var";
@import "./blocks/bonuses.scss";
@import "./blocks/header.scss";
@import "./blocks/level.scss";
@import "./blocks/progress.scss";
@import "./blocks/sideline.scss";
@import "./blocks/stats.scss";
@import "./blocks/range.scss";
@import "./blocks/main.scss";
@import "./blocks/playground.scss";
@import "./blocks/points.scss";
@import "./blocks/scene.scss";
@import "./blocks/button.scss";

@font-face {
    font-family: Marvin;
    src: url(../fonts/marvin-webfont.woff),
    url(../fonts/marvin-webfont.woff2)
}

* {
     margin: 0; padding: 0; box-sizing: border-box; 
}
body { 

    font-family: Marvin, sans-serif;
}

.background {
    background: #0c356d;
    color: #ffffff;
    width: 100%;
    min-height: 100vh;
}

.game {
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    margin: 0 auto;
}
