.main {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.main__playground {
    border: 10px solid $turquoiseColor;
    border-radius: 25px;
    box-shadow: 0 0 8.5px rgba(0,0,0,0.43);
}